In [1]:
[1,2,3,4,5] + ["apple","banana"]

[1, 2, 3, 4, 5, 'apple', 'banana']

In [3]:
# use placeholder (_)
# place holder hafızada yer kaplamıyor

a,_,b,_ = (10,20,30,40)
print(a,b)

10 30

In [2]:
x,y,*z = (11,32,44,55,75,78)

print(x)
print(y)
print(*z)
print(z) # returns a list

11
32
44 55 75 78
[44, 55, 75, 78]

In [6]:
x,y,*z = {11,32,44,55,75,78}

print(x)
print(y)
print(*z)
print(z) # returns a list

32
55
75 11 44 78
[75, 11, 44, 78]

In [1]:
x,y,*_ = (11,32,44,55,75,78)
print(x)
print(y)
print(_)

11
32
[44, 55, 75, 78]

In [3]:
x,y,*z,t= (11,22,33,44,55,66,77)
print(x)
print(y)
print(z)
print(t)

11
22
[33, 44, 55, 66]
77

In [12]:
x,y,*_,t= (11,22,33,11,11,44,55,66,77)
print(x)
print(y)
print(_)
print(t)

11
22
[33, 11, 11, 44, 55, 66]
77

List Compherension

[expression for item in iterable]

for item in iterable:
    expression

In [13]:
sayılar =[]

for i in range(5):
    sayılar.append(i)

sayılar

[0, 1, 2, 3, 4]

In [17]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [19]:
[{i**2} for i in range(5)]

[{0}, {1}, {4}, {9}, {16}]

In [20]:
[[i**2] for i in range(5)]

[[0], [1], [4], [9], [16]]

Ternary if condition

execute-body1 if condition else execute-body2

In [24]:
condition =False
1 if condition else 0

0

In [22]:
my_list = [1,2,3,4,5,6,7,8,9]
odd_list = []
even_list = []

for i in my_list:
    if i % 2 ==1:
        odd_list.append(i) # execute body1
    else:
        even_list.append(i) # execute body2

print(even_list)
print(odd_list)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [27]:
my_list = [1,2,3,4,5,6,7,8,9]
[i**2 for i in my_list if i%2==1]

[1, 9, 25, 49, 81]

In [28]:
my_list = [1,2,3,4,5,6,7,8,9]
[i**2 for i in my_list if i%2==0]

[4, 16, 36, 64]